body {
  background-color: white;
  padding-top: 79px;
  color: black;
  text-align: center;
  margin: 0px;
  font-family: Arial;
}

.btn{
  margin: 20px;
  padding: 10px;
  background-color: rgb(38, 118, 255);
  color: white;
  border: 0px;
  font-size: 1.5em;
  transition: 0.2s
}
.btn:hover{
  background-color: grey;
  box-shadow: inset 0px 0px 7px 4px rgba(0, 0, 0, 0.35);
}
.btn span:hover{
  display: inline;
}
.btn span{
  display: none;
  transition: .2s;
}

div.header {
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  top: 0;
  margin: 0 auto;
  width: 100%;
}
button,
#header_h1,
#header_p {
  transition: .2s;
}
#header_h1,
#header_p {
  display: inline-block;
}
#header_p{
  font-size: 0.7em;
}

.container {
  padding: 20px 5%;
  background-color: grey;
  min-height: calc(100vh - 195px);
  color: white;
}
.sub_container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  margin: 20px 5%;
  box-sizing: border-box;
  color: black;
  padding: 10px;
}
.table_container {
  margin: 0 10%;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(38, 118, 255);
  color: white;
}

form input.btn{
  margin: 10px auto;
  display:block;
}
form select,
form input{
  width: 50%;
}

footer{
  padding: 25px;
}

@media (max-width: 992px){
  body{
    font-size: 1.5rem;
  }
}
